body {
	background-color: linen;
	font-family: 'Open Sans', sans-serif;
}

h2 {
	color: #06266F;
	margin-left: 10px;
} 

h4 {
	color: #06266F;
	margin-left: 10px;
}

button {
	padding: 8px 12px;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
}

button.nodeTableAction {
	border-radius: 0px;
	padding: 4px 6px;
}

button.disabled {
	opacity: 0.4;
	cursor: auto;
}

.buttonGroup button {
	width: 70px;
	height: 35px;
    float: left;
	display: table;
}

.buttonGroup:after {
    content: "";
    clear: both;
    display: table;
}

button.nodeTableActionHalf {
	width: 35px;
	border-radius: 0px;
	padding: 4px 6px;
}

input, textarea {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

input.time {
	width: 60px;
	text-align: center;
}

input.title {
	width: 300px;
	text-align: left;
}

input.url {
	width: 380px;
	text-align: left;
	text-style: italic;
}

label.fileAction{
	padding: 5px;
	font-size: 20px;
	cursor: pointer;
}

label.fileAction:hover{
	text-decoration: underline;
}

span.lessonDetails{
	padding: 5px;
	width: 100%;
	display: inline-block;
}

span.lessonDetailsHalf{
	padding: 5px;
	width: 50%;
}

.inputFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#lessonDetailsContainer {
	height: 450px;
	width: 400px;
	padding: 5px;
	border: 2px solid #ddd;
	font-size: 16px;
}

#nodesTableArea{
	width: 100%;
	height: 620px;
	overflow-x: auto;
}

#nodesTable {
	border-collapse: collapse;
	width: 100%;
}

#nodesTable td, #nodesTable th {
	border: 2px solid #ddd;
	padding: 8px;
}

tr.nodesTableRetro {
	background-color: #d12945;
}

#nodesTable tr:nth-child(even){background-color: linen;}

#nodesTable tr:hover {background-color: #c0cded;}

#nodesTable tr.nodesTableRetro:hover {background-color: #ef435f;}

#nodesTable th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	font-size: 18px;
	background-color: #6C8CD5;
	color: white;
}

#videoView {
	height: 390px;
	width: 640px;
	border: 2px solid #ddd;
	background-color: black;
}

#currentTranscriptText {
	height: 120px;
	width: 630px;
	padding-left: 8px;
	border: 2px solid #ddd;
	text-align: center;
	vertical-align: middle;
	font-size: 24px;
	font-family: 'Merriweather', serif;
	overflow-x: auto;
}